.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

::ng-deep {
    .mat-mdc-option.mdc-list-item:hover {
        background-color: lightcyan !important;
    }
}